//Colors
$primary-color: #1f1e2e;
$secondary-color: #181824;
$third-color: #3445e5;
$fourth-color: #2f3648;
$background-color: #f3f6f9;

//Font sizes
$fs-10: 10px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-36: 36px;
$fs-48: 48px;
$fs-60: 60px; 