@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="parent clearfix">
        <div class="bg-illustration">
            <div class="login-logo">
                <img src="https://preview.keenthemes.com/metronic/theme/html/demo12/dist/assets/media/logos/logo-letter-1.png" alt="logo" style="width: 100px; height: 70px;">
                <h1 style="color: white">Mercury</h1>
            </div>

        </div>

        <div class="login">
            <div class="container">
                <h1>Reset<br />your account</h1>
                <div class="login-form">
                    <div asp-validation-summary="ModelOnly" style="padding: 0px 30px; color: red"></div>
                    <form method="post" class="pt-2">
                        <input asp-for="NewPassword" placeholder="E-mail Address">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                        <input asp-for="ConfirmPassword" placeholder="E-mail Address">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        <input type="hidden" asp-for="Token"/>
                        <input type="hidden" asp-for="Email"/>

                        <button type="submit">Send</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>

</html>





