@model Project
@{
    ViewData["Title"] = "Update";
}

<!--Index start-->
<section id="hr-addproject">
    <div class="dashboard-wrapper">
        <div class="dashboard-header">
            <div class="left-header">
                <button class="navbar-toggler">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="34px" height="34px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="#d0d3d6" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <rect fill="#3445e5" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                            <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                                  fill="#3445e5" opacity="0.3"></path>
                        </g>
                    </svg>
                </button>
                <h3>Add Employee</h3>
            </div>
        </div>
        <div class="dashboard-content">
            <div class="row">
                <div class="dl-table table-responsive pb-3 col-lg-12">
                    <form method="post" class="row g-3">
                        <div class="pt-3 col-lg-12">
                            <input asp-for="ProjectName" class="form-control" placeholder="Project Name">
                        </div>
                        <span asp-validation-for="ProjectName" class="text-danger"></span>

                        <div class="mt-sm-3 gap-2 col-12">
                            <input asp-for="StartDate" type="text" class="form-control" placeholder="Start Date" onfocus="(this.type='date')">
                        </div>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                        <div class="mt-sm-3 gap-2 col-12">
                            <input asp-for="EndDate" type="text" class="form-control mt-3" placeholder="End Date" onfocus="(this.type='date')">
                        </div>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                        <div class="gap-2 mt-sm-3 col-12">
                            <select class="form-control" asp-for="EmployeeIds" asp-items="new SelectList((List<EmployeeUser>)ViewBag.Employees,nameof(EmployeeUser.Id),nameof(EmployeeUser.FullName))"></select>
                        </div>
                        <span asp-validation-for="EmployeeIds" class="text-danger"></span>
                        <div class="text mt-3 col-12">
                            <textarea asp-for="ProjectDescription" class="form-control" id="floatingTextarea" placeholder="Project Description"></textarea>
                        </div>
                        <span asp-validation-for="ProjectDescription" class="text-danger"></span>
                        <div class="input-group gap-0 mt-3 justify-content-center">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <a type="button" class="btn btn-secondary" asp-action="Index">Close</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Index end-->
